[Unit]
Description=Autoupdate dotfiles

[Service]
ExecStartPre=/usr/bin/git reset --hard
ExecStartPre=/usr/bin/git clean -fd
ExecStart=/usr/bin/git pull --force
WorkingDirectory=/var/home/{{ automatic_updates_username }}/.dotfiles
Type=oneshot
