# {{ ansible_managed }}
{% for export in nfs_exports %}{{ export.path }}{% for host in export.hosts %} {{ host.name }}{% if host.options | length > 0 %}({{ host.options | join(' ') }}){% endif %}{% endfor %}

{% endfor %}
