# {{ ansible_managed }}
[Interface]
Address = {{ wireguard.server.address }}
PrivateKey = {{ wireguard.server.priv }}
ListenPort = {{ wireguard.server.port }}
PreUp = sysctl -w net.ipv4.ip_forward=1
PostUp = firewall-cmd --zone=public --add-port {{ wireguard.server.port }}/udp && firewall-cmd --zone=public --add-masquerade
PostDown = firewall-cmd --zone=public --remove-port {{ wireguard.server.port }}/udp && firewall-cmd --zone=public --remove-masquerade
SaveConfig = false

[Peer]
# {{ wireguard.peers[0].name }}
PublicKey = {{ wireguard.peers[0].pub }}
AllowedIPs = {{ wireguard.peers[0].allowed_ips }}

[Peer]
# {{ wireguard.peers[1].name }}
PublicKey = {{ wireguard.peers[1].pub }}
AllowedIPs = {{ wireguard.peers[1].allowed_ips }}
